@model IEnumerable<TerminalDeViale.Models.Provincia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_alta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_baja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_baja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_alta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_alta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_baja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_baja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_alta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
